body, html {
	margin: 0;
	padding :0;
}

.navigbar{
	color: grey;
	padding : 20px;
	width: 100vw;
	text-decoration: none;
	position: fixed;
	background-color: black;
}
.nav-item{
	margin-left:40px;
	font-size: 40px;
	width: 100px;
	height: 100px;
	text-decoration: none;
}


.nav-item:hover{
	color: white;
}

.ab{
	font-size: 30px;
	font-family:Satisfy, cursive;
	font-weight: bolder;
}


.profile{
	background-image: url(1.jpg);
	width:100%;
	height: 750px;
	position: static;
}

.profile-pic{
	border-radius: 50%;
	width: 300px;
	height: 300px;
	margin-left:80px;
	margin-top: 150px;

}
.text1{
	font-family:Poiret One, cursive;
	font-size: 38px;
	margin-left: 400px;
	margin-top: -250px;
	color: white;

}
.text2{
	font-family:Poiret One, cursive;
	font-size: 20px;
	margin-left: 400px;
	color: white;
}

.portfolio{
	background-image: url('3.jpg');
	height: 100vh;
}

.portfolio:hover{
	color: white;
}